<?xml version="1.0" ?>
<model>
	<name>iitm_bot</name>
	<version>1.0</version>
	<sdf version='1.4'>iitm_bot.sdf</sdf>

	<author>
		<name>Umang Agrawal</name>
		<email>champ.umangagrawal@gmail.com</email>
	</author>
	
	<description>
		A differential drive bot for IITM simulation
	</description>
</model>
